body#body-layout-main {
  font-family: calibri;
  position: relative;
  min-width: 1075px;

  #chart-container {
    display: inline-block;
    margin-top: 10px;

    .highcharts-container {
      .highcharts-plot-background {
        fill: #FCFCFC;
      }
    }
  }

  #performance-container {
    position: absolute;
    top: 30px;
    left: 487px;
    font-size: 12px;
    text-align: right;

    .perf-spacer {
      width: 54px;
      display: inline-block;
    }
  }

  #loading-indicator {
    position: absolute;
    top: 18px;
    left: 12px;
    color: #FFFFFF;
    background: #7699FF;
    padding: 4px 8px;

    > i {
      font-size: 16px;
    }
  }

  #visualisation-status {
    position: absolute;
    top: 250px;
    left: 208px;
    width: 250px;
    padding: 50px 0;
    border: 1px solid #c0c0c0;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
  }

  #pathfinder-controls {
    position: absolute;
    left: 615px;
    top: 20px;
    right: 25px;

    .simulation-controls, .operations, .timing, .targeting, .settings {
      position: relative;
      border: 1px solid #686868;
      padding: 10px 15px;

      &:not(:first-child) {
        margin-top: 15px;
      }

      legend {
        color: #373737;
        font-weight: bold;
        font-size: 16px;
      }

      .controls {
        margin-bottom: 10px;

        button:disabled {
          opacity: 0.5;
        }
      }

      .status {
        margin-bottom: 10px;
        font-size: 15px;

        #status {
          padding: 2px 7px;
          background: #ececec;

          &.running {
            background: #00BD24;
            color: #FFFFFF;
          }

          &.stopped {
            background: #D80000;
            color: #FFFFFF;
          }
        }

        #operation-status {
          padding: 2px 7px;
          background: #ececec;

          &.exoplanet-spectroscopy {
            background: #B1D8FF;
          }

          &.neo-spectroscopy {
            background: #CBFFB1;
          }

          &.comms {
            background: #F3B1FF;
          }
        }
      }

      .subjects-loaded {
        right: 25px;
        top: 20px;
        font-size: 15px;
        margin-bottom: 10px;

        > div {
          display: inline-block;

          &.subject-state {
            margin-left: 10px;
          }
        }

        @media (min-width: 1170px) {
          position: absolute;
          
          > div {
            display: block;

            &.subject-state {
              margin-left: 0;
            }
          }
        }

        .subjects-loaded-heading {
          font-weight: bold;
          padding-bottom: 5px;
        }

        i.fa {
          width: 16px;

          &.fa-check {
            color: #119400;
          }

          &.fa-times {
            color: #EC0000;
          }
        }
      }

      .items, .operations-statistics {
        margin-bottom: 5px;
        font-size: 15px;

        > div {
          margin-bottom: 5px;
        }

        .target-parameters {
          width: 100%;

          td {
            width: 25%;
            vertical-align: top;
            padding: 6px;

            .parameter {
              font-size: 16px;
              margin-bottom: 10px;

              .parameter-header {
                font-weight: bold;
                font-size: 14px;
              }

              .parameter-value {
                display: inline-block;
                font-style: italic;
                font-size: 16px;

                &#exoplanet-id {
                  font-size: 12px;
                  color: #616161;
                }
              }

              .link {
                a {
                  color: #0084D8;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }

  #pathfinder-debug {
    width: 570px;
    margin: 8px 25px 10px;

    .debug-controls {
      position: relative;
      border: 1px solid #686868;
      padding-top: 15px;
      min-height: 80px;

      legend {
        color: #373737;
        font-weight: bold;
        font-size: 16px;
      }

      .controls {
        margin-bottom: 10px;

        button:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
